.products {
  padding: 128px 0px 0px;
}
.products-container {
}
.products-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111111;
  margin-bottom: 50px;
}
.products-title-span {
  color: #fd9222;
}
.products-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 18px;
}
.products-item {
  width: 270px;
  height: 364px;
}
.products-content {
  padding: 32px 20px;

  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}
.products-item-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.products-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111111;
  margin-top: 8px;
  margin-bottom: 2px;
}
.products-description {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  margin-bottom: 18px;
}
.products-button {
  width: 94px;
  height: 33px;
  background: #fafafa;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #111111;
  cursor: auto;
}
