<section class="components" id="components">
  <div class="components-container container">
    <h2 class="components-title">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="components-title-accent">TASTE</span> SENSATION
    </h2>
    <p class="components-text">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="components-list list">
      <li class="components-item components-item-1">
        <picture>
          <source
            srcset="
              ../img/chocolate-desktop.png    1x,
              ../img/chocolate-desctop-2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="../img/chocolate.png 1x, ../img/chocolate-2x.png 2x"
            media="(max-width: 1199px)"
          />
          <img
            src="../img/chocolate.png"
            alt="chocolate"
            class="components-img"
          />
        </picture>
        <h3 class="components-subtitle components-subtitle-white">
          MILK CHOCOLATE
        </h3>
      </li>
      <li class="components-item components-item-2">
        <picture>
          <source
            srcset="../img/milk-desktop.png 1x, ../img/milk-desktop-2x.png 2x"
            media="(min-width: 1200px)"
          />
          <source
            srcset="../img/milk.png 1x, ../img/milk-2x.png 2x"
            media="(max-width: 1199px)"
          />
          <img src="../img/milk.png" alt="milk" class="components-img" />
        </picture>
        <h3 class="components-subtitle">Milk</h3>
      </li>
      <li class="components-item components-item-3">
        <picture>
          <source
            srcset="../img/nuts-desktop.png 1x, ../img/nuts-desktop-2x.png 2x"
            media="(min-width: 1200px)"
          />
          <source
            srcset="../img/nuts.png 1x, ../img/nuts-2x.png 2x"
            media="(max-width: 1199px)"
          />
          <img src="../img/nuts.png" alt="nuts" class="components-img" />
        </picture>
        <h3 class="components-subtitle components-subtitle-white">nuts</h3>
      </li>
      <li class="components-item components-item-4">
        <picture>
          <source
            srcset="../img/beans-desktop.png 1x, ../img/beans-desktop-2x.png 2x"
            media="(min-width: 1200px)"
          />
          <source
            srcset="../img/beans.png 1x, ../img/beans-2x.png 2x"
            media="(max-width: 1199px)"
          />
          <img src="../img/beans.png" alt="beans" class="components-img" />
        </picture>
        <h3 class="components-subtitle">SEMI - SWEET CHOCOLATE</h3>
      </li>
    </ul>
  </div>
</section>
