<footer class="footer" id="footer">
  <div class="container-bloc">
    <div class="footer-bloc">
      <div class="footer-text-bloc">
        <p class="footer-text">
          <span class="footer-text-orangе"> Chocolate</span> a delicious <br />
          cure for a bad day
        </p>
      </div>

      <div class="footer-address-bloc">
        <address class="footer-address">
          <p class="footer-contakt-text">Contact us</p>

          <ul class="footer-address-item">
            <li class="list">
              <a class="footer-contakt link" href="tel:+380(68)4439426"
                >+380 (68) 443-94-26</a
              >
            </li>

            <li class="list">
              <a class="footer-contakt link" href="mailto:simplychoc@gmail.com"
                >simplychoc@gmail.com</a
              >
            </li>
          </ul>
        </address>

        <div>
          <ul class="footer-sauce-bloc">
            <li class="socials-item list">
              <a
                class="socials-link sauce-socials-link"
                href="https://www.instagram.com/"
                target="_blank"
                aria-label="Instagram link"
              >
                <svg class="socials-icon" width="22" height="22">
                  <use href="./img/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item list">
              <a
                class="socials-link sauce-socials-link"
                href="https://twitter.com/"
                target="_blank"
                aria-label="Twitter link"
              >
                <svg class="socials-icon" width="22" height="22">
                  <use href="./img/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-menu-bloc">
      <ul class="footer-menu list">
        <li class="footer-menu-item"><a href="./index.html">Home</a></li>
        <li class="footer-menu-item">
          <a href="#how-it's-made">How it’s made?</a>
        </li>
        <li class="footer-menu-item">
          <a href="#our-products">Our products</a>
        </li>
        <li class="footer-menu-item">
          <a href="#top-sellers">Top sellers</a>
        </li>
        <li class="footer-menu-item">
          <a href="#chocolate-is-loved">Chocolate is loved</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
