<section class="hero container">
  <div class="main-hero-container">
    <h1 class="hidden-visually"></h1>
    <h2 class="hero-title">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h2>
    <div class="hero-container">
      <div class="hero-btn-container">
        <button type="button" class="hero-btn hero-btn-buy" data-modal-open>
          Buy now
        </button>
        <a href="#how-its-made" class="hero-link link hero-btn-how">
          How it’s made
        </a>
      </div>
      <a class="hero-link link" href="#footer">
        scroll down
        <svg class="hero-scroll-icon" width="22" height="22">
          <use href="../img/sprite.svg#icon-scroll-down"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
<!-- ------------Modal Buy Now--------------------- -->
