<section class="container made-section">


    <h2 class="made-title">HOW IT’S <span class="made-title-color">MADE?</span> </h2>
    <div class="made-container">
        <div class="made-img">
            <picture>

                <source srcset="../img/how-its-made-desktop.jpg 1x, ../img/how-its-made-desktop-2x.jpg 2x"
                    media="(min-width: 1200px)">
                <source srcset="../img/how-its-made-tablet.jpg 1x, ../img/how-its-made-tablet-2x.jpg 2x"
                    media="(min-width: 768px)">
                <source srcset="../img/how-its-made.jpg 1x, ../img/how-its-made-2x.jpg 2x" media="(max-width: 767px)">
                <img src="../img/how-its-made.jpg" alt="chocolate">
            </picture>
        </div>


        <div class="made-list-container">

            <h3 class="made-text">Try our chocolates today and <br> discover the perfect balance of flavor</h3>
            <ul class="made-list">
                <li class="made-item">Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa
                    powder.
                </li>
                <li class="made-item">At the same time, prepare a water bath. Melt the butter on it</li>
                <li class="made-item">"Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone
                    spatula so that the mass becomes uniform and silky.</li>
                <li class="made-item">Heat the mixture over low heat, letting it barely boil.</li>
                <li class="made-item">Pour the chocolate into special containers (can be replaced with ice molds). Allow
                    to
                    cool and harden.</li>
            </ul>
        </div>
    </div>

</section>