<section class="subscribe">
  <div class="container">
    <div class="subscribe-content">
      <h2 class="subscribe-title">EXPLORE OUR NEW CHOCOLATE FIRST</h2>
      <p class="subscribe-description">
        From the velvety texture to the rich and complex flavor, our New
        Chocolate is a true indulgence that will leave you craving more. Made
        with only the finest ingredients and handcrafted with the utmost care,
        each piece is a work of art that is sure to please.
      </p>
    </div>
    <button type="button" class="subscribe-button">Subscribe</button>
  </div>
</section>

<!-- Modal  window  subscribe (data-modal-3)-->

 <!-- window modal -->

 <div class="subscribe-modal backdrop is-hidden" data-modal>
  
    <button class="modal-btn-subscribe" type="button" data-modal-close>
      <svg width="8" height="8">
        <use href="../img/sprite.svg#icon-close-button"></use>
      </svg>
    </button>
    
   
   
   
    <!-- Window modal form -->
    
    
    <form class="modal-form-subscribe" name="modal_form_subscribe">
      <b class="modal-title-subscribe">
        Explore our <br><span class="modal-title-orange"> new chocolate</span> first!
      </b>

      
        

        

        
          <label class="label-item" for="form_mail"></label>

          <div class="modal-input-group">
            <input
              class="input-mail frame-focus"
              type="email"
              name="modal_email"
              id="form_mail"
            />
            
          </div>
      

      <button class="btn-modal-subscribe" type="submit">Submit</button>
    </form>
  
</div>


