/* Color variables */
:root {
  --color-black: #111111;
  --color-violet: #1e1823;
  --color-orange: #fd9222;
  --color-white: #fafafa;
}
/* Fonts */
@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url();
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url();
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url();
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url();
  font-weight: 700;
}
/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

a {
  color: currentColor;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Visually hidden elements */
.hidden-visually {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
