/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./partials/header.css');
@import url('./partials/hero.css');
@import url('./partials/advantages.css');
@import url('./partials/components.css');
@import url('./partials/how-its-made.css');
@import url('./partials/products.css');
@import url('./partials/reviews.css');
@import url('./partials/top-sellers.css');
@import url('./partials/subscribe.css');
@import url('./partials/footer.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
